In [32]:
import pandas as pd
from jupyter_dash import JupyterDash
import dash
import dash_core_components as dcc
import dash_html_components as html
from IPython.display import display

In [33]:
df = pd.read_csv('AH_Provisional_Diabetes_Death_Counts__2020.csv')
display(df.info())
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 16 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Data as of                              226 non-null    object
 1   Date_Of_Death_Year                      226 non-null    int64
 2   Date_Of_Death_Month                     226 non-null    int64
 3   AgeGroup                                225 non-null    object
 4   Sex                                     226 non-null    object
 5   COVID19                                 226 non-null    int64
 6   Diabetes.uc                             226 non-null    int64
 7   Diabetes.mc                             226 non-null    int64
 8   C19PlusDiabetes                         226 non-null    int64
 9   C19PlusHypertensiveDiseases             226 non-null    int64
 10  C19PlusMajorCardiovascularDiseases      226 non-null    int64
 11  C19PlusHypertensiveDiseasesAndMCVD      226 non-null    int64
 12  C19PlusChronicLowerRespiratoryDisease   226 non-null    int64
 13  C19PlusKidneyDisease                    226 non-null    int64
 14  C19PlusChronicLiverDiseaseAndCirrhosis  226 non-null    int64
 15  C19PlusObesity                          226 non-null    int64
dtypes: int64(13), object(3)
memory usage: 28.4+ KB

None

,Data as of,Date_Of_Death_Year,Date_Of_Death_Month,AgeGroup,Sex,COVID19,Diabetes.uc,Diabetes.mc,C19PlusDiabetes,C19PlusHypertensiveDiseases,C19PlusMajorCardiovascularDiseases,C19PlusHypertensiveDiseasesAndMCVD,C19PlusChronicLowerRespiratoryDisease,C19PlusKidneyDisease,C19PlusChronicLiverDiseaseAndCirrhosis,C19PlusObesity
0,10/20/2020,2020,1,<18 years,Female (F),0,3,5,0,0,0,0,0,0,0,0
1,10/20/2020,2020,1,<18 years,Male (M),0,3,3,0,0,0,0,0,0,0,0
2,10/20/2020,2020,1,18-29 years,Female (F),0,20,36,0,0,0,0,0,0,0,0
3,10/20/2020,2020,1,18-29 years,Male (M),0,44,65,0,0,0,0,0,0,0,0
4,10/20/2020,2020,1,30-39 years,Female (F),0,53,104,0,0,0,0,0,0,0,0

In [34]:
df.AgeGroup.isnull().any()
bool_series = pd.isnull(df.AgeGroup)
df[bool_series]

,Data as of,Date_Of_Death_Year,Date_Of_Death_Month,AgeGroup,Sex,COVID19,Diabetes.uc,Diabetes.mc,C19PlusDiabetes,C19PlusHypertensiveDiseases,C19PlusMajorCardiovascularDiseases,C19PlusHypertensiveDiseasesAndMCVD,C19PlusChronicLowerRespiratoryDisease,C19PlusKidneyDisease,C19PlusChronicLiverDiseaseAndCirrhosis,C19PlusObesity
127,10/20/2020,2020,5,NaN,Male (M),1,0,0,0,0,1,1,0,0,0,0

In [35]:
df = df.iloc[:, 2:]
df['Diabetes'] = df['Diabetes.uc'] + df['Diabetes.mc']
df.drop(['Diabetes.uc','Diabetes.mc'], axis=1, inplace=True)
# plot diabetes deaths

Index(['Date_Of_Death_Month', 'AgeGroup', 'Sex', 'COVID19', 'C19PlusDiabetes',
       'C19PlusHypertensiveDiseases', 'C19PlusMajorCardiovascularDiseases',
       'C19PlusHypertensiveDiseasesAndMCVD',
       'C19PlusChronicLowerRespiratoryDisease', 'C19PlusKidneyDisease',
       'C19PlusChronicLiverDiseaseAndCirrhosis', 'C19PlusObesity', 'Diabetes'],
      dtype='object')